section {
  display: table;
  margin: 8px;
}

.acl-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  width: 120px;
}

.acl-button-row {
  display: table-cell;
}

.acl-button-row button {
  display: table-cell;
  margin-right: 8px;
}

.acl-flex-container {
  display: flex;
  justify-content: space-between;
  width: 480px;
}

.acl-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}.spacer {
  flex: 1 1 auto;
}
