<!-- app.component.html  -->

<div style="text-align:center">
  <h1>
    Resume
  </h1>
</div>

		<div>
			<h3>
				Personal Information<br>
				Name : Kawane Priya Balasaheb<br>
				Email: priyakawane96@gmail.com<br>
				Phone: 9370016871<br>
			</h3>
		</div>
<!--<div style="text-align:center">-->
<br>
  <nav>
	<ul>
	<li>
	<a routerLink="Education-Details" routerLinkActive="active">Education Details</a></li>
	<li>
    <a routerLink="Technical-Details">Technical Information</a></li>
	<li>
    <a routerLink="Internship-Details">Internship Information</a></li>
	<li>
	<a routerLink="Assignments">Assignments Information</a></li>
	<li>
    <a routerLink="Projects">Projetcs Information</a></li>
	<li>
    <a routerLink="About-Me">About-Me Information</a></li>
	</ul>
  </nav>
<br>
  <router-outlet></router-outlet>

