<section>
  <div class="acl"></div>
  <div class="acl-button-row">
    <a mat-button color="accent" routerLink="/users/create">Users</a>
    <button mat-button color="accent" routerLink="/groups/create">Groups</button>
    <button mat-button color="accent" routerLink="/directory/create">Directory</button>
    <button mat-button color="accent" routerLink="/file/create">File</button>
  </div>
</section>

<mat-divider></mat-divider>
<router-outlet></router-outlet>
<mat-list role="list">
  <mat-list-item role="createuser" mat-button color="basic">Create User</mat-list-item>
  <mat-list-item role="updateuser" mat-button color="basic">Edit user</mat-list-item>
  <mat-list-item role="searchuser" mat-button color="basic">Search User</mat-list-item>
  <mat-list-item role="deleteuser" mat-button color="basic">Delete User</mat-list-item>
</mat-list>
