
				<table style="border:groove;">
					<tr>
						<th>Year</th>
						<th>Degree</th>
						<th>Name</th>
						<th>Marks</th>
					</tr>
					<tr>
						<td>2011-2012</td>
						<td>SSC</td>
						<td>Sant Dnyaneshwar Vidhyalaya,Takalimiya</td>
						<td>88.55</td>
					</tr>
					<tr>
						<td>2013-2014</td>
						<td>HSC</td>
						<td>Art's,Science and Commerce College,Rahuri</td>
						<td>67.23</td>
					</tr>
					<tr>
						<td>2015-2017</td>
						<td>BCS</td>
						<td>Art's,Science and Commerce College,Rahuri</td>
						<td>76.58</td>
					</tr>
					<tr>
						<td>2017-2020</td>
						<td>MCA</td>
						<td>Savitribai Phule Pune University Computer Science Department</td>
						<td>4.9</td>
					</tr>
				</table>
