<div class="col-md-12">  
  <h2> User Details</h2>  
  <div class="table-responsive table-container">  
    <table class="table">  
      <thead>  
        <tr>  
          <th>Id</th>  
          <th>First Name</th>  
          <th>Last Name</th>  
		  <th>Actions</th>
        </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let usr of user">  
          <td class="hidden">{{usr[0]}}</td>  
          <td>{{usr[1]}}</td>  
          <td>{{usr[2]}}</td>  
          <td>  
			<section>
            <button (click)="deleteEmp(usr[0])" class="btn btn-info"> Delete</button> 
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <button class="btn btn-info" routerLink="/updateuser"> Update</button>
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <button class="btn btn-info" routerLink="/userpermission">Give Role To User</button>  
			</section>
			
          </td>  
        </tr>  
      </tbody>  
    </table>  
  </div>  
</div> 
<router-outlet></router-outlet>
<!--
<div class="container wrapper">
    <div class="row">
        <!-- Form --1>
        <div class="col-md-12">
            <h2>Search Record</h2>
            <form [formGroup]="searchForm" (ngSubmit)="submitForm()" novalidate>
                <div class="form-group">
                    <label>By User Id</label>
                    <input type="text" formControlName="userId" class="form-control" maxlength="20"><br>
                    <button type="submit" class="btn btn-primary btn-sm" >Search</button>
                </div>
            </form>
        </div>

        <div class="col-md-12">
            <div class="inner">
                <h3>User Details</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
           
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let issues of  UsersById">
                       <th scope="row">{{issues.id}}</th>
                            <td>{{issues.first_name}}</td>
                            <td>{{issues.last_name}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
 
<div class="container wrapper">
<button type="submit" class="btn btn-primary btn-sm" routerLink="/users/create">Back</button>
</div>
<router-outlet></router-outlet> -->



