
 <b><u><font color="blue">Internship Details</font></u></b>
<br><br>
 <table colspan=2>
	<tr>
		<th>Company Name : </th>
			<td>Iauro System Ptv Ltd.</td>
	</tr>
	<tr>
		<th>Project Name : </th>
			<td>Color classification of images using image processing.</td>
	</tr>
	<tr>
		<th>Description : </th>
			<td> Task is to find out background color,primary colors ,secondary<br>
				 colors and text color of an image using image processing.
		    </td>
	</tr>
	<tr>
		<th>Technology	: </th>	
			<td> Python </td>
	</tr>

 </table>


