<!--The content below is only a placeholder and can be replaced.-->
<!--<mat-toolbar color="primary">
   <mat-toolbar-row>
     <1!--  <span>HOME</span> --1>
      <span><a href="/">HOME</a></span>
      <span class="spacer"></span>
      <a mat-button routerLink="/login">Login</a>
   </mat-toolbar-row>
</mat-toolbar>-->


<mat-toolbar color="primary">
	<a mat-button><mat-icon>home</mat-icon> Home</a>
	<a mat-button routerLink="login"><mat-icon>login</mat-icon>Login</a>

	<div class = "spacer"></div>

	<span><mat-icon>group</mat-icon> Access Control List</span>
</mat-toolbar>
<router-outlet></router-outlet>



