
<mat-toolbar color="primary">
  <span><mat-icon>group</mat-icon> User Details</span>

	<div class = "spacer"></div>


	<a mat-button><mat-icon>home</mat-icon> Home</a>
	<a mat-button routerLink="create"><mat-icon>person_add</mat-icon> Register User</a>
	<a mat-button routerLink="search"><mat-icon>search</mat-icon>Search User</a>
	<a mat-button routerLink="update"><mat-icon>update</mat-icon>Edit</a>
	<a mat-button routerLink="delete"><mat-icon>delete</mat-icon>Delete User</a>
</mat-toolbar>
<router-outlet></router-outlet>



